<!-- Modal -->

<div class="modal-header">
  <h1 class="modal-title"> Preview </h1>
</div>

<div class="modal-body">

  <div class="new">
    <div class="slick-title"> Inforlyst </div>
    <div class="slick-text">
      Lorem ipsum is dummy text used in laying out print, graphic or web designs.
    </div>
  </div>

  <div class="read-more" ng-click="moveToInforlystInfoPage()"> About Inforlyst </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-xs-12" style="display:flex; justify-content:space-evenly;">
      <div class="col-xs-5" ng-click="" ng-dblclick="false">
        <button class="modal-btn"><i class="fa fw fa-send iconsFlap"></i> Request </button>
      </div>

      <div class="col-xs-5" ng-click="$dismiss()" ng-dblclick="false">
        <button class="modal-btn"><i class="fa fw fa-close"></i> Close </button>
      </div>
    </div>
  </div>
</div>